<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fa fa-search fa-lg text-warning"></i> Yamaha Bike Showroom
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link"  routerLink="/home">
            <i class="fa fa-home"></i> Home
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"><i
              class="fa fa-tools"></i> Our Services </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/services">Software Marketing</a></li>
            <li><a class="dropdown-item" routerLink="/software-marketing">Content Writing</a></li>
            <li><a class="dropdown-item" routerLink="/consultancy">Software Testing</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us">
            <i class="fa fa-map-marker"></i> Contact Us
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/graphs">
              <i class="fa fa-tools"></i> Graphs
          </a>
      </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="register.html">
            <i class="fa fa-user-plus"></i> Register
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#userlogin">
            <i class="fa fa-lock"></i> Login
          </a>
        </li> -->
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<section class="bg-warning p-5 text-success">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h1> <i class="fa fa-edit"></i> Software Testing Solutions </h1>
        <p class="m-3">
          df sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf
          df sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf
          df sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf
          df sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf
          df sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf
          df sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf
          df sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf
          df sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf
          df sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf
        </p>
      </div>
    </div>
    <!--row end-->
  </div>
</section>
<section class="p-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
        <h4> Manual Testing </h4>
        <i class="fa fa-tools fa-5x text-success"></i>
        <p>
          sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdfsdf s
          sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdfsdf s
          sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdfsdf s
        </p>
      </div>
      <!--3end-->
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
        <h4> Hardware Cheking </h4>
        <i class="fa fa-tools fa-5x text-info"></i>
        <p>
          sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdfsdf s
          sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdfsdf s
          sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdfsdf s
        </p>
      </div>
      <!--3end-->
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
        <h4> Fuel Checking</h4>
        <i class="fa fa-water fa-5x text-primary"></i>
        <p>
          sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdfsdf s
          sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdfsdf s
          sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdfsdf s
        </p>
      </div>
      <!--3end-->

      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
        <h4> Machine Testing </h4>
        <i class="fa fa-tools fa-5x text-warning"></i>
        <p>
          sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdfsdf s
          sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdfsdf s
          sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdfsdf s
        </p>
      </div>
      <!--3end-->

    </div>
  </div>
</section>
<section class="bg-primary p-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center text-white">
        <p> Yamaha Bike Showroom </p>
        <p> Follow us in Social Media </p>
        <p>
          <i class="fab fa-facebook fa-2x m-2"></i>
          <i class="fab fa-twitter fa-2x m-2"></i>
          <i class="fab fa-linkedin fa-2x m-2"></i>
          <i class="fab fa-angular fa-2x m-2"></i>
          <i class="fab fa-java fa-2x m-2"></i>
          <i class="fab fa-react fa-2x m-2"></i>
          <i class="fab fa-google fa-2x m-2"></i>
        </p>
      </div>
    </div>
  </div>
</section>

<!--login modal start here-->
<div class="modal fade" id="userlogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Customer Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="mb-3">
          <label>e-Mail Id</label>
          <input type="email" class="form-control" />
        </div>
        <div class="mb-3">
          <label>Password</label>
          <input type="password" class="form-control" />
        </div>
      </div>

      <div class="modal-footer justify-content-center">
        <button class="btn btn-primary">Login</button>
        <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!--login modal end here-->