<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <i class="fa fa-search fa-lg text-warning"></i> Yamaha Bike Showroom
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa fa-tools"></i> Our Services </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/contact-manager">Contact-Manager</a></li>
                        <li><a class="dropdown-item" routerLink="/software-marketing">Content Writing</a></li>
                        <li><a class="dropdown-item" routerLink="/consultancy">Software Testing</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact-us">
                        <i class="fa fa-map-marker"></i> Contact Us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/graphs">
                        <i class="fa fa-chart-area"></i> Graphs
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa fa-building"></i> CRUD </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/contact-manager">Contact-Manager</a></li>
                        <li><a class="dropdown-item" routerLink="/view-contact">View Contact List</a></li>
                        <li><a class="dropdown-item" routerLink="/edit-contact">Edit Contact</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<!-- crud operation starts -->
<div class="container">
    <div class="row m-5 p-3">
        <div
            class="col-xl-12 col-lg-12 col-md-8 col-sm-12 col-12 mb-3 bg-light shadow rounded border border-success p-3">
            <h1 class="text-center"> CRUD Operations </h1>
            <hr />
            <p class="text-center">What is the purpose of CRUD Operations?</p>
            <p class="h6 bg-light"><span class="h1 fw-bolder">.</span> CRUD is an acronym that comes from the world of
                computer programming and refers to the four functions that are considered necessary to implement a
                persistent storage application: create, read, update and delete.
            </p>
        </div>
    </div>
    <hr />

    <!-- add user details -->

    <div class="row m-5 p-3">
        <div
            class="col-xl-12 text-center col-lg-12 col-md-8 col-sm-12 col-12 mb-3 bg-light shadow rounded border border-info p-3">
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <h4 class="text-center"> Add New User Here </h4>
                <input type="text" class="form-control mb-2" placeholder=" Enter Name" formControlName="name"> <br />
                <input type="email" class="form-control mb-2" placeholder="Enter E-mail" formControlName="email"> <br />
                <input type="number" class="form-control mb-2" placeholder="Enter Number" formControlName="number"> <br />
                <input type="text" class="form-control mb-2" placeholder="Enter Company Name" formControlName="organaization"> <br />
                <input type="text" class="form-control mb-2" placeholder="Enter Role" formControlName="role"> <br />
                <input type="file" class="form-control mb-2" [src]="contact.picture" formControlName="pic"> <br />
                <button class="btn btn-primary"> Add User </button>
            </form>
        </div>
    </div>
</div>