<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <i class="fa fa-search fa-lg text-warning"></i> Yamaha Bike Showroom
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa fa-tools"></i> Our Services </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/services">Software Marketing</a></li>
                        <li><a class="dropdown-item" routerLink="/software-marketing">Content Writing</a></li>
                        <li><a class="dropdown-item" routerLink="/consultancy">Software Testing</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact-us">
                        <i class="fa fa-map-marker"></i> Contact Us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/graphs">
                        <i class="fa fa-chart-area"></i> Graphs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/crud">
                        <i class="fa fa-building"></i> CRUD
                    </a>
                </li>

            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<!-- crud operation starts -->
<div class="row m-5 p-3">
    <div class="col-xl-12 col-lg-12 col-md-8 col-sm-12 col-12 mb-3 bg-light shadow rounded border border-success p-3">
        <h1 class="text-center"> CRUD Operations </h1>
        <hr />
        <p class="text-center">What is the purpose of CRUD Operations?</p>
        <p class="h6 bg-light"><span class="h1 fw-bolder">.</span> CRUD is an acronym that comes from the world of
            computer programming and refers to the four functions that are considered necessary to implement a
            persistent storage application: create, read, update and delete.
        </p>
    </div>
</div>
<hr />

<!-- add user details -->

<div class="row m-5 p-3">
    <div
        class="col-xl-12 text-center col-lg-12 col-md-8 col-sm-12 col-12 mb-3 bg-light shadow rounded border border-info p-3">
        <h4 class="text-center"> Contact List.......... </h4>
        <input type="text" class="form-control mb-2" placeholder=" Enter Name"> <br />
        <input type="number" class="form-control mb-2" placeholder="Enter Age"> <br />
        <input type="email" class="form-control mb-2" placeholder="Enter E-mail"> <br />
        <input type="file" class="form-control mb-2"> <br />
        <button class="btn btn-primary"> Add User </button>
    </div>
</div>


<!-- display contacts list in card format -->
<div class="row m-5 p-3">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-3 mb-3">
        <div class="card list-group-item-info shadow">
            <div class="card-body">
                <div class="row">
                    
                        <!-- image here -->
                        <div class="col-sm-4">
                            <img src="assets/user.jfif" style="width: 100px; height: 100px;" class="img-icon">
                        </div>
                        <!-- details here -->
                        <div class="col-sm-7">
                            <ul class="list-group">
                                <li class="list-group-item"> Name: <span> Hari </span> </li>
                                <li class="list-group-item"> E-mail: <span> doradla.hari@gmail.com </span></li>
                                <li class="list-group-item"> Age: <span> 23 Years </span> </li>
                            </ul>
                        </div>
                        <!-- options here -->
                        <div class="col-sm-1">
                            <a href="#" class="btn btn-warning m-2">
                                <i class="fa fa-eye"></i>
                            </a>
                            <a href="#" class="btn btn-primary m-2">
                                <i class="fa fa-pen"></i>
                            </a>
                            <button class="btn btn-danger m-2">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>