<div class="row m-5 p-3">
    <div
        class="col-xl-12 text-center col-lg-12 col-md-8 col-sm-12 col-12 mb-3 bg-light shadow rounded border border-info p-3">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <h4 class="text-center"> Edit User Here </h4>
            <input type="text" class="form-control mb-2" placeholder=" Enter Name" formControlName="name" [value]="contacts.name"> <br />
            <input type="email" class="form-control mb-2" placeholder="Enter E-mail" formControlName="email" [value]="contacts.email"> <br />
            <input type="number" class="form-control mb-2" placeholder="Enter Number" formControlName="mobile" [value]="contacts.mobile"> <br />
            <input type="text" class="form-control mb-2" placeholder="Enter Company Name" formControlName="company" [value]="contacts.company"> <br />
            <input type="text" class="form-control mb-2" placeholder="Enter Role" formControlName="role" [value]="contacts.role"> <br />
            <input type="file" class="form-control mb-2" formControlName="picture" [value]="contacts.picture"> <br />
            <button class="btn btn-primary"> Update </button>
        </form>
    </div>
</div>