<div class="row m-5 p-3">
    <div
        class="col-xl-12 text-center col-lg-12 col-md-8 col-sm-12 col-12 mb-3 bg-light shadow rounded border border-info p-3">
        <h4 class="text-center"> Edit user details Here </h4>
        <input type="text" class="form-control mb-2" placeholder=" Enter Name"> <br />
        <input type="number" class="form-control mb-2" placeholder="Enter Age"> <br />
        <input type="email" class="form-control mb-2" placeholder="Enter E-mail"> <br />
        <input type="file" class="form-control mb-2"> <br />
        <button class="btn btn-primary mx-5" routerLink="/contact-manager"> Update </button>
        <button class="btn btn-danger mx-5" routerLink="/contact-manager"><i class="fa fa-arrow-alt-circle-left"></i> Close </button>
    </div>
</div>