<!-- display contacts list in card format -->
<div class="row m-5 p-3">
   
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-3 mb-3">
        <div class="card list-group-item-info shadow">
            <div class="card-body">
                <div class="row">
                    <h2 class="text-center mb-3"> View Contact Here </h2>
                        <!-- image here -->
                        <div class="col-sm-4">
                            <img src="assets/user.jfif" style="width: 100px; height: 100px;" class="img-icon">
                        </div>
                        <!-- details here -->
                        <div class="col-sm-7">
                            <ul class="list-group">
                                <li class="list-group-item"> Name: <span> Hari </span> </li>
                                <li class="list-group-item"> E-mail: <span> doradla.hari@gmail.com </span></li>
                                <li class="list-group-item"> Age: <span> 23 Years </span> </li>
                            </ul>
                        </div>
                       <div class="row">
                           <div class="col-lg-12 text-center mt-3">
                            <button class="btn btn-primary" routerLink="/contact-manager"> Back </button>
                           </div>
                       </div>
                </div>
            </div>
        </div>
    </div>
</div>